<div class="row">
    <div class="col-md-5">
        <app-recipe-list (recipeWasSelected)="recipeSelected=$event"></app-recipe-list>
    </div>
    <div class="col-md-7">
       <router-outlet></router-outlet>
    </div>
</div>
