<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading"> 
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" 
                class="form-control"
                id="email"
                ngModel
                required
                name="email"
                email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" 
                class="form-control"
                id="password"
                ngModel
                required
                name="password"
                minlength="8">
            </div>
            <div>
                <button 
                class="btn btn-primary"
                type="submit" [disabled]="!authForm.valid">
                {{isLoginMode ? 'Login' : 'Signup'}}</button> |
                <button 
                class="btn btn-primary"
                type="button"
                (click)="onSwitchMode()">
                Switch To {{isLoginMode?'Signup': 'Login'}}</button>
            </div>
            
        </form>
        <div >
            <img src="/assets/img/1.png" alt="cheers" class="img-responsive"
            style="text-align: center; border-radius: 20px; width: 50%;height: 50%;margin: auto;margin-top: 20px;">
        </div>
    </div>
</div>